img:hover{
}
body,html {height:100%; overflow-x: hidden;}
body {
  width: 100%;
  position: absolute;
  background: linear-gradient(to top, #161426 0%,#454066 100%);
}
p, h1, h2, div{
  font-family: arial, sans-serif;
}

#header-bar{
	width: 100%;
	background-color: rgb(245, 245, 245);
	height: auto;
	font-size: 10pt;
}

.menu-btn{
  background-color: rgba(0, 0, 0, 0);
  font-size: 12pt;
  border: none;
  display: inline;
  cursor: pointer;
}
.menu-btn:hover{
  background-color: rgb(40, 43, 48);
  color: white;
}

/*hides object. Used for not yet accessible video items
and for hidden div in which Overlay elements are stored invisible*/
.hidden{
	display:none;
}

/*------------------------- intro -------------------------*/
.mySlides{
  width: 40vh;
}

#introimg{
	float: left;
	margin-right: 15px;
	margin-bottom: 5px;
}
#intro{
	width: 40vh;
	margin: 0 auto;
  padding: 10px 10px;
  border-radius: 5px;
  /*background-color: rgba(180, 185, 194, 0.3);*/
  background-color: rgba(242, 244, 247, 0.8);
}

.playbtn{
	display: block;
	margin: 0 auto;
  min-height: 40px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  font-size: 17px;
  background-color: rgba(255, 93, 82, 0.6);
}

/*---------------------- simon says ----------------------*/
/* Answers */
.red{background-color: red;}
.green{background-color:green; color: lightgrey;}
.blue{background-color: blue; color: lightgrey;}
.yellow{background-color: yellow;}
.orange{background-color: orange;}
.turquoise{background-color: turquoise;}
.neutral{background-color: grey;}

.s_button{
	min-width: 10%;
	width: 10%;
	min-height: 20%;
	height: 20%;
}
/* Announcer */
#s_announcer-container{
	min-width: 100%;
	min-height: 10%;
	background-color: lightgrey;
}
#s_announcer{
	/*min-width: 5%;*/
	width: 50%;
	/*min-height: 5%;*/
	height: 50%;
	text-align: center;
	margin: 0 auto;
	font-size: 30pt;
}

svg {
  display: block;
  height: 45vh;
  margin: 0 auto;
}

/*---------------------- Schieberaetsel ----------------------*/

#pg-table{
	margin: 0 auto;
	width: auto;
	min-width: 20%;
	max-height: 50%;
	max-width: 99%

}
img.pg-img{
	cursor: pointer;
	width:auto;
	height: 40vh/3;
	max-width: 100%;
	/* make image not selectable*/
	-moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table{
	border-spacing: 0px;
	background-color: white;
}
td,tr{
	border-spacing: 0px;
	padding: 0px;
	margin: 0px;
}

/*------------------------- Karte -------------------------*/
.centered{
	margin: 0 auto;
	text-align: center;
}
.gmap_canvas{
	margin: 0 auto;
	display: block;
	height: 40vh;
	width: 40vh;
}
#input1{
	border: 3px solid blue;
	border-radius: 5px;
}
#input2{
	border: 3px solid orange;
	border-radius: 5px;
}
/*------------------------ Outro ------------------------*/
#outro{
	width: 40vh;
	margin: 0 auto;
  padding: 10px 10px;
  border-radius: 5px;
  /*background-color: rgba(180, 185, 194, 0.3);*/
  background-color: rgba(242, 244, 247, 0.8);
}
